<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h2 mb-0"><%= t("app.admin_users.index.title") %></h1>
  <%= link_to t("app.admin_users.index.new"), new_admin_user_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t("app.admin_users.index.email") %></th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Admin</th>
        <th><%= t("app.admin_users.index.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.admin? ? "Oui" : "Non" %></td>
          <td>
            <%= link_to "Voir", admin_user_path(user), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "Modifier", edit_admin_user_path(user), class: "btn btn-sm btn-outline-secondary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
