<%= render "shared/banner_small", title: t("app.attendances.index.title", event: @event.title), image: (@event.picture.attached? ? @event.picture : nil) %>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="d-flex gap-2 mb-4">
      <%= link_to t("app.events.show.edit_btn"), edit_event_path(@event), class: "btn btn-outline-primary" %>
      <%= button_to t("app.events.show.delete_btn"),
                    event_path(@event),
                    method: :delete,
                    data: { turbo_confirm: t("app.events.show.delete_confirm") },
                    class: "btn btn-outline-danger" %>
      <%= link_to t("app.events.show.back"), @event, class: "btn btn-outline-secondary" %>
    </div>

    <h2 class="h5 mb-3"><%= t("app.attendances.index.participants") %> (<%= @attendances.count %>)</h2>

    <% if @attendances.any? %>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-4">
        <% @attendances.each do |attendance| %>
          <div class="col">
            <%= render "attendances/participant_card", attendance: attendance %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p><%= t("app.attendances.index.empty") %></p>
    <% end %>
  </div>
</div>
